<!-- accountcreated.handlebars -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta de usuario creada</title>
</head>

<body>
    <h1>Cuenta de usuario creada con éxito!</h1>
    <p>Por favor ingrese con su usuario y contraseña.</p>
</body>

</html>