<!-- alreadyregister.handlebars -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esta cuenta ya existe</title>
</head>

<body>
    <h1>Esta cuenta ya existe</h1>
    <p>Su cuenta de usuario ya existe.</p>
    <p>Por favor ingrese con su usuario y contraseña.</p>
</body>

</html>