<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Prueba plantillas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>

<body>
    {{!--
    Dentro de las llaves triples se pone lo que se quiere renderizar
    --}}
    <h1>Prueba de handlebars</h1>

</body>

</html>