<!-- alreadyregister.handlebars -->

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esta cuenta no existe</title>
</head>

<body>
    <h1>Esta cuenta no existe, por favor registrese</h1>
</body>

</html>